* {
    box-sizing: border-box;
}

:root {
  --main-bg-color: #BCA5AF;
  --second-main-color: #CB9FB3; 
}

body {
    margin: 0;

}

a:visited {
    color: white;
}

/*HEADER*/
header {
    height: 20vh;
    background-color: var(--main-bg-color);   
    box-shadow: 1px 1px 3px #54414a;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

main {
    padding: 2em 1em 1em 1em;
    
}

.nav-links > a {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.5em;
}

.nav-links > a:hover {
    font-size: 1.3rem;
    border-bottom: 1.5px solid white;
}

.nav-links > a.active {
    font-size: 1.8rem;
    border-bottom: 1.5px solid white;    
}

/* PROFILE, DESCRIPTION */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    box-shadow: 1px 1px 3px #54414a;
    margin-bottom: 3em;
}

main img {
   max-width: 100%;
}

.profile-textbox {
    min-height: 43.2vh;
    width: 80%;
    background-color: white;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 1px 1px 3px #54414a;
    margin-bottom: 1em;
}

h1, h2, h3 {
    font-family: 'Libre Franklin', sans-serif;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.profile a{
    color: #54414a; 
    text-decoration: none;
}
    
/* PROJECTS */

.project-cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card h3 {
    color: #54414a;
    font-size: 1.3rem;
}
.card {
    background-color: var(--main-bg-color);
    height: 18rem;
    width: 240px;
    margin: 10px 0px;
    padding: 1em;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #54414a;
}

.card a {
    align-self: center;
    color: white;
    text-decoration: none;
    padding: 0.4em 1.5em;
    background-color: #54414a;
    border-radius: 3px;
    font-family:'Libre Franklin', sans-serif;;
}

.card a:hover {
    background-color: white;
    color: #54414a;
    
}

/* FOOTER */
footer {
    height: 8vh;
    background-color: var(--main-bg-color);
    box-shadow: 1px 1px 3px #54414a;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.footer-copy p {
    color: white;
    margin: 0;
    font-size: 1rem;
}


/* DESKTOP */
@media (min-width: 900px) {
    main, .header-section {
      max-width: 1050px;
      margin: 0 auto;
    }

    main img {
        margin-left: auto;
    }

    .profile-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }    

    .profile-textbox {
        margin-right: auto; 
        width: 50%;
        margin: auto auto auto 0;
    }

    header {
        height: 9vh;
    }

    .header-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    
}  
/* .profile-textbox {
    height: 43.2vh;
    width: 50%;
    max-width: 50%;
    background-color: white;
    border-radius: 3px;
    padding: 1em;
    margin: auto auto auto 0;
    box-shadow: 1px 1px 3px #54414a;
} */