* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #bca5af;
  --second-main-color: #cb9fb3;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: linear-gradient(#f1eaed, #eae7e8); */
  background-color: #f8f3f5;
}

a:visited {
  color: white;
}

/*HEADER*/
header {
  min-height: 85px;
  background-color: var(--main-bg-color);
  box-shadow: 1px 1px 3px #54414a;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100%;
  margin-top: 0.5em;
}

main {
  padding: 2em 1em 1em 1em;
}

.nav-links > a {
  color: #54414a;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.2em;
}

.nav-links > a:hover {
  font-size: 1.3rem;
  color: #69575f;
  font-weight: bolder;
  border-bottom: 1.5px solid #69575f;
}

.nav-links > a.active {
  font-size: 1.8rem;
  border-bottom: 1.5px solid #54414a;
}

/* PROFILE, DESCRIPTION */
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: var(--main-bg-color); */
  background-image: linear-gradient(var(--main-bg-color), #eae7e8);
  border-radius: 3px;
  box-shadow: 1px 1px 3px #54414a;
  margin-bottom: 3em;
}

main img {
  max-width: 100%;
}

.profile-textbox {
  min-height: 43.2vh;
  width: 80%;
  border-radius: 3px;
  /* box-shadow: 1px 1px 3px #54414a; */
  padding: 1em;
}

h1,
h2,
h3 {
  font-family: "Libre Franklin", sans-serif;
}
h1 {
  font-size: 2.5rem;
  color: #54414a;
}

h2 {
  font-size: 2rem;
  color: #54414a;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: #54414a;
}

/* PROJECTS */

.project-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card h3 {
  color: #54414a;
  font-size: 1.3rem;
}
.card {
  background-color: white;
  height: 277px;
  width: 240px;
  margin: 10px 0px;
  padding: 0 1em;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #54414a;
}

.project-card1 {
  margin: 10px 0px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #54414a;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.project-card1:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

.proj-container {
  position: absolute;
  top: 80%;
  left: 10%;
}

.proj-container > h3 {
  color: white;
}

/* FOOTER */
footer {
  height: 8vh;
  background-color: var(--main-bg-color);
  box-shadow: 1px 1px 3px #54414a;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
}

.footer-copy p {
  color: white;
  margin: 0;
  font-size: 1rem;
  font-family: "Libre Franklin", sans-serif;
}

/* MODAL */
/* Original skrivet av "https://codepen.io/kevinpowell/pen/gxZMvR" */
/* Modifierad av mig */

.modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.inner-modal {
  padding: 1em;
  background: white;
  border-radius: 0.5em;
  position: relative;
}

.close {
  position: absolute;
  content: "x";
  font-size: 1.25em;
  top: 1em;
  right: 1em;
  padding: 0.25em 0.5em;
  line-height: 1;
  background: linear-gradient(90deg, #54414a, #72626a);
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  transition: all ease-in-out 200ms;
}

.is-open {
  display: flex;
}

/* Här fortsätter min kod */

.modal a {
  color: #54414a;
  text-decoration: underline;
}

/* DESKTOP */
@media (min-width: 500px) {
  header img {
    margin-bottom: 1.5em;
  }
}

@media (min-width: 900px) {
  main,
  .header-section {
    max-width: 1050px;
    margin: 0 auto;
  }

  #profile-pic {
    margin-left: auto;
    position: relative;
    bottom: 4.5em;
  }

  .profile-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 22rem;
    margin-top: 0.8em;
  }

  .profile-textbox {
    margin-right: auto;
    margin-left: 3em;
    width: 60%;
    position: relative;
    bottom: 3em;
  }

  header {
    height: 16vh;
  }

  .header-section {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .inner-modal {
    padding: 6em 10em;
    width: 50vw;
  }
}
