* {
  box-sizing: border-box;
}

/* :root {
  --main-bg-color: #bca5af;
  --second-main-color: #cb9fb3;
  --text-main-color: #54414a;
} */

:root {
  --main-bg-color: #caa3b6;
  /* --second-main-color: #f6e5a5; */
  --text-main-color: #54414a;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e7c3d2;
}

a:visited {
  color: white;
}

/*HEADER*/
header {
  min-height: 85px;
  background-color: var(--main-bg-color);
  box-shadow: 1px 1px 3px #54414a;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header img {
  height: 100%;
  margin-top: 0.5em;
}

main {
  padding: 2em 1em 1em 1em;
}

.nav-links > a {
  color: var(--text-main-color);
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.2em;
}

.nav-links > a:hover {
  font-size: 1.3rem;
  color: #69575f;
  font-weight: bolder;
  border-bottom: 1.5px solid #69575f;
}

.nav-links > a.active {
  font-size: 1.8rem;
  border-bottom: 1.5px solid #54414a;
}

/* PROJECT CARDS */

.card {
  background-color: white;
  height: 277px;
  width: 240px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #54414a;
  padding: 1em;
}

.project-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-cards h3 {
  color: var(--text-main-color);
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3 {
  font-family: "Libre Franklin", sans-serif;
  color: var(--text-main-color);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.project-cards {
  margin: 10px 0px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #54414a;
  position: relative;
}

.project-cards img {
  border-radius: 3px; /* Apply rounded corners to the image */
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.project-cards:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

.proj-container {
  position: absolute;
  top: 80%;
  left: 10%;
}

.proj-container > h3 {
  color: white;
}

/* FOOTER */
footer {
  height: 6vh;
  background-color: var(--main-bg-color);
  box-shadow: 1px 1px 3px #54414a;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
}

.footer-copy p {
  color: #f6e5a5;
  margin: 0;
  font-size: 1rem;
  font-family: "Libre Franklin", sans-serif;
}

/* MODAL */
/* Original skrivet av "https://codepen.io/kevinpowell/pen/gxZMvR" */
/* Modifierad av mig */

.modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.inner-modal {
  padding: 1em;
  background: white;
  border-radius: 0.5em;
  position: relative;
}

.close {
  position: absolute;
  content: "x";
  font-size: 1.25em;
  top: 1em;
  right: 1em;
  padding: 0.25em 0.5em;
  line-height: 1;
  background-color: #54414a;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  transition: all ease-in-out 200ms;
}

.close:hover {
  background-color: #72626a;
}
.is-open {
  display: flex;
}

/* Här fortsätter min kod */

.modal a {
  color: var(--text-main-color);
  text-decoration: underline;
}

/* DESKTOP */
@media (min-width: 500px) {
  header img {
    margin-bottom: 1.5em;
  }
}

@media (min-width: 900px) {
  main,
  .header-section {
    max-width: 1050px;
    margin: 0 auto;
  }

  header {
    height: 12vh;
  }

  .header-section {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .inner-modal {
    padding: 6em 10em;
    width: 50vw;
  }
}
