* {
    box-sizing: border-box;
}

:root {
  --main-bg-color: #BCA5AF;
  --second-main-color: #CB9FB3; 
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a:visited {
    color: white;
}

/*HEADER*/
header {
    min-height: 85px;
    background-color: var(--main-bg-color);   
    box-shadow: 1px 1px 3px #54414a;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header img {
    height: 100%;
    margin-top: 0.5em;
}

main {
    padding: 2em 1em 1em 1em;
}

.nav-links > a {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.5em;
}

.nav-links > a:hover {
    font-size: 1.3rem;
    border-bottom: 1.5px solid white;
}

.nav-links > a.active {
    font-size: 1.8rem;
    border-bottom: 1.5px solid white;
}

/* PROJECT CARDS */

h2 {
    font-size: 2rem;
}

.project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card h3 {
    color: #54414a;
    font-size: 1.3rem;
}

h1, h2, h3 {
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.card {
    background-color: white;
    height: 277px;
    width: 240px;
    margin: 10px 0px;
    padding: 0 1em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #54414a;
}

.project-card1 {
    margin: 10px 0px;
    width: 240px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #54414a;
    position: relative;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.project-card1:hover{
    opacity: 0.5;
    transition: .5s ease;
}

.proj-container {
  position: absolute;
  top: 80%; 
  left: 10%; 
}

.proj-container > h3 {
    color: white;
}

/* .card a {
    align-self: center;
    color: white;
    text-decoration: none;
    padding: 0.4em 1.5em;
    background-color: #54414a;
    border-radius: 3px;
    font-family:'Libre Franklin', sans-serif;;
}

.card a:hover {
    background-color: white;
    color: #54414a;
    
} */

/* FOOTER */
footer {
    height: 8vh;
    background-color: var(--main-bg-color);
    box-shadow: 1px 1px 3px #54414a;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.footer-copy p {
    color: white;
    margin: 0;
    font-size: 1rem;
}

/* MODAL */
/* Original skrivet av "https://codepen.io/kevinpowell/pen/gxZMvR" */
/* Modifierad av mig */

.modal {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .inner-modal {
    padding: 1em;
    background: white;
    border-radius: 0.5em;
    position: relative;
  }

  .close {
    position: absolute;
    content: 'x';
    font-size: 1.25em;
    top: 1em;
    right: 1em;
    padding: .25em .5em;
    line-height: 1;
    background: linear-gradient(90deg, #54414a, #72626a);
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    transition: all ease-in-out 200ms;
  }
  
  .is-open {
    display: flex;
  }

/* Här fortsätter min kod */

.modal a {
    color: #54414a; 
    text-decoration: underline;
  }

/* DESKTOP */
@media (min-width: 500px) {
    
    header img {
        margin-bottom: 1.5em;
    }

}

@media (min-width: 900px) {
    main, .header-section {
      max-width: 1050px;
      margin: 0 auto;
    }

    header {
        height: 9vh;
    }

    .header-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .inner-modal {
        padding: 6em 10em;
        width: 50vw;
    }

    
}  